---
layout: default
---
<article class="post">
  <header class="post-header">
    <h3 class="post-title">{{ page.title | escape }}</h2>
    {%- if page.category -%}
      <h4 class="post-category">Part of: {{page.category | escape }}</h3>
    {%- endif -%}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {%- if page.author -%}
        • {% for author in page.author %}
          <span>
            <span class="author">{{ author }}</span>
          </span>
          {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
  
  <a class="url" href="{{ page.url | relative_url }}" hidden></a>
</article>